<!-- ng-template #followigpost let-author="author" let-age="age" let-text="text" let-badge="badge" let-items="items">
  <div class="container-fluid">
    <div class="card">
      <div class="header">
          <h4 class="title">{{ author }}</h4>
          <p class="category">age {{ age }} jours</p>
      </div>

      <div class="content" [innerHTML]="text">
      </div>
      <div class="text-right">
          <button class="btn btn-icon btn-simple"><i class="ti-comment"></i></button>
          <button class="btn btn-icon btn-simple">
              <i class="ti-heart"></i>
              <span *ngIf="badge" class="badge">{{ badge }}</span>
          </button>
          <button class="btn btn-icon btn-simple"><i class="ti-share"></i></button>
      </div>
  </div>
  </div>
  </ng-template -->
  <p>Funds card template </p>
<ng-template #fundsTemplateRef let-fundsData="funds">
  <div>List of Funds: number of {{ funds.length }}
   <ul
   >
     <li *ngFor="let fund of funds">
       <i class="col-md-4">{{ fund.symbol }}</i><i class="col-md-2">{{ fund.price }}</i><i class="col-md-6">{{ fund.name }}</i>
     </li>
   </ul>
</div>
</ng-template>
<ng-container *ngTemplateOutlet="fundsTemplateRef">
</ng-container>
